MONGO_URI=mongodb://localhost:27017/flixflox
JWT_SECRET_KEY=change-me-in-production
CORS_ORIGIN=http://localhost:5173
UPLOAD_FOLDER=./uploads
PORT=5000
HLS_SEGMENT_TIME=10
HLS_LIST_SIZE=0
HLS_SEGMENT_TYPE=fmp4
MAX_FILE_SIZE=2147483648
